@import "common.css";

.inline-span {
  white-space: nowrap;
}

#Utility-title {
  background-color: var(--primary-bg-dark);
  color: var(--primary-bg-dark-text);
  padding: 5px;
  padding-left: 20px;
}

.utility-label {
  background-color: var(--primary-bg-2);
  color: var(--primary-bg-text);
  padding: 5px;
}
