@import "common.css";
.inline-span {
  white-space: nowrap;
}

.form-control {
  height: 30px;
}

#Auth-title {
  background-color: var(--primary-bg-dark);
  color: var(--primary-bg-dark-text);
  padding: 5px;
  padding-left: 20px;
}

.alert-warning {
  background-color: var(--secondary-cool-1);
  color: var(--secondary-cool-dark-text);
  border-style: none;
}
