@import "common.css";
.btn-primary {
  background-color: var(--primary-main-2);
  color: var(--primary-main-text);
  border-style: none;
}

.btn-primary:hover {
  background-color: var(--primary-main-3);
  color: var(--primary-main-text);
}

.btn-primary:active {
  background-color: var(--primary-dark) !important;
  color: var(--primary-dark-text) !important;
}

.btn-secondary {
  background-color: var(--primary-main-1);
  color: var(--primary-main-text);
  border-style: none;
}

.btn-secondary:hover {
  background-color: var(--primary-main-2);
  color: var(--primary-main-text);
}

.btn-secondary:active {
  background-color: var(--primary-main-3) !important;
  color: var(--primary-main-text) !important;
}

.ApiItem {
  background-color: var(--primary-bg-1);
  color: var(--primary-bg-text);
}

.text-area:focus {
  outline: none !important;
  border: 1px solid var(--primary-main-2);
  box-shadow: 0 0 10px var(--primary-main-3);
}

.param-input {
  height: 30px;
}

.param-name {
  color: var(--primary-dark);
}

.icx-amount-input {
  margin-top: 5px;
  margin-left: 5px;
  height: 25px;
  font-size: 14px;
}

#contract-address-input {
  height: 30px;
}

#ApiList-title {
  background-color: var(--primary-bg-2);
  color: var(--primary-bg-text);
  padding: 10px;
}

#ContractApi-title {
  background-color: var(--primary-bg-dark);
  color: var(--primary-bg-dark-text);
  padding: 5px;
  padding-left: 20px;
}

.alert-error {
  background-color: var(--secondary-hot-3);
  color: var(--secondary-hot-text);
  border-style: none;
}

.alert-success {
  background-color: var(--secondary-cool-2);
  color: var(--secondary-cool-text);
  border-style: none;
}

.contract-name {
  background-color: var(--secondary-cool-2);
  color: var(--secondary-cool-text);
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
}

.no-contract-name {
  background-color: var(--secondary-hot-2);
  color: var(--secondary-hot-text);
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
}

.succeed-result-title {
  background-color: var(--secondary-cool-2);
  color: var(--secondary-cool-text);
  height: 30px;
  font-size: smaller;
  padding: 5px 10px 2px 10px;
}

.error-result-title {
  background-color: var(--secondary-hot-3);
  color: var(--secondary-hot-text);
  height: 30px;
  font-size: smaller;
  padding: 5px 10px 2px 10px;
}

.fetching {
  margin-left: 10px;
  margin-top: 5px;
  font-style: italic;
  color: var(--primary-dark);
}
