@import "common.css";
.btn-primary {
  background-color: var(--main-color-dark-1);
  border-style: none;
}

.btn-primary:hover {
  background-color: var(--main-color-dark-2);
}

.btn-primary:active {
  background-color: var(--main-color-dark-3) !important;
}

.btn-secondary {
  background-color: var(--main-color);
  border-style: none;
}

.btn-secondary:hover {
  background-color: var(--main-color-dark-2);
}

.btn-secondary:active {
  background-color: var(--main-color-dark-3) !important;
}

.ApiItem {
  background-color: var(--background-dark-1);
}

.text-area:focus {
  outline: none !important;
  border: 1px solid var(--main-color-dark-1);
  box-shadow: 0 0 10px var(--main-color-dark-2);
}

.param-input {
  height: 30px;
}

.checktx-button {
  height: 35px;
}

#contract-address-input {
  height: 30px;
}

#ApiList-title {
  background-color: var(--background-dark-2);
  color: var(--background-darkest);
  padding: 10px;
}

#ContractApi-title {
  background-color: var(--main-color-dark-2);
  color: white;
  padding: 5px;
  padding-left: 20px;
}

.alert-error {
  background-color: var(--error-bg-color);
  border-style: none;
  color: var(--error-text-color);
}

.alert-success {
  background-color: var(--success-bg-color);
  border-style: none;
  color: var(--success-text-color);
}
