@import "common.css";
#IcxExplorer-header {
  background-color: var(--main-color-dark-2);
  padding-top: 20px;
  padding-bottom: 20px;
}

#IcxExplorer-title {
  font-size: x-large;
  color: white;
}

#IcxExplorer-endpoint {
  font-size: large;
  color: white;
}

#IcxExplorer-body {
  background-color: var(--background);
}

#endpoint-input {
  height: 30px;
}