@import "common.css";

.inline-span {
  white-space: nowrap;
}

#Utility-title {
  background-color: var(--main-color-dark-2);
  color: white;
  padding: 5px;
  padding-left: 20px;
}

.utility-label {
  background-color: var(--background-dark-1);
  color: var(--background-darkest);
  padding: 5px;
}
